<div class="buttons-section mb-5">
    <ul class="nav nav-underline custom-nav">
        <li class="nav-item">
          <a class="nav-link <% if (active === 'index') { %> active <%} %>" aria-current="page" href="/">Create User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <% if (active === 'users') { %> active <%} %>" href="/Users">View Users</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link <% if (active === 'edit') { %> active <%} %>" href="Edit">Edit Users</a>
        </li> -->
      </ul>
</div>